@import "tailwindcss";
@plugin "daisyui";

:root {
  background: url(/bg.avif);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  
  
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

}

::-webkit-scrollbar {
  /* Customize the scrollbar width */
  width: 6px;
}

::-webkit-scrollbar-track {
  /* Customize the scrollbar track */
  background-color: aliceblue;
}

::-webkit-scrollbar-thumb {
  /* Customize the scrollbar thumb */
  background: #1b1b1b;
  border-radius: 10px;
}